---
import Layout from "../components/layout.astro";
import { getMeetupEvents } from "../clients/getMeetupEvents";

const groupEvents = await getMeetupEvents(11478542);
---

<Layout>
  <!-- Content area -->
  <div class="content-area">
    <div id="main">
      <section class="page-section background-img-slider">
        <div class="container">
          <div class="scbcn">
            SOFTWARE<br />CRAFTERS<br />BARCELONA
          </div>
          <div>
            <div class="place">
              <div>
                Software Crafters Barcelona is a community which aim to attract
                and connect software development professionals who feel
                passionate about their work and share the values and principles
                of the Crafters movement.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="page-section">
      <div class="container">
        <h1>Upcoming Meetup Events</h1>
        <ul>
          {!groupEvents?.length && <li>- No events found</li>}
          {
            groupEvents?.map?.((event) => (
              <li>
                - <a href={event.eventUrl}>{event.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <!-- PAGE ABOUT -->
    <section class="page-section" id="about">
      <div class="container">
        <h1 class="section-title">
          <span
            data-animation="flipInY"
            data-animation-delay="300"
            class="icon-inner"
            ><span class="fa-stack"
              ><i class="fa rhex fa-stack-2x"></i><i
                class="fa fa-star fa-stack-1x"></i></span
            ></span
          >
          <span
            data-animation="fadeInRight"
            data-animation-delay="500"
            class="title-inner"
            >About the conference <small>/ A place to share knowledge</small
            ></span
          >
        </h1>
        <div class="row">
          <div class="col-lg-8">
            <p data-animation="fadeInUp" data-animation-delay="300">
              <p>
                Software Crafters Barcelona is a two-day event starting with the
                Friday Open Space and continuing a Saturday of exciting
                conferences, which aim to attract and connect software
                development professionals who feel passionate about their work
                and share the values and principles of the Crafters movement.
              </p>
              <p>
                It aspires to be a meeting place that facilitates the magic of
                learning, teaching and collaboration, where participants create
                a gratifying and enriching experience.
              </p>
              <p>
                It doesn't matter who you are, your knowledge level or your
                favorite programming language. We encourage you to participate
                if you:
                <br />
                <ul class="list">
                  <li>are passionate about software.</li>
                  <li>
                    want to be involved, or are already involved, in the
                    Software Crafters movement.
                  </li>
                  <li>want to share your knowledge, experience, or skills.</li>
                  <li>
                    enjoy learning by helping others and believe that sharing is
                    key to your own progress.
                  </li>
                </ul>
                <br /> In addition to technical content, it will be fun. There will
                be beers, and we'll have stimulating conversations late into the
                night. Software Crafters Barcelona is an opportunity to meet new
                friends, face new challenges while learning and further improve your
                skills. Join us!<br />
              </p>
            </p>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left">
              <!-- Thumbnails -->
              <div class="row thumbnails">
                <div class="col-sm-1 col-xs-1"></div>
                <div class="col-sm-10 col-xs-10">
                  <div
                    class="thumbnail no-border no-padding"
                    data-animation="fadeInLeft"
                    data-animation-delay="100"
                  >
                    <div class="media">
                      <img src="/assets/img/preview/people-sm.jpg" alt="" />
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons">
                              <a
                                href="/assets/img/preview/people-lg.jpg"
                                class="btn caption-zoom"
                                data-gal="prettyPhoto"
                                ><i class="fa fa-search"></i></a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="thumbnail no-border no-padding"
                    data-animation="fadeInLeft"
                    data-animation-delay="100"
                  >
                    <div class="media">
                      <img src="/assets/img/preview/about-h-sm-10.jpg" alt="" />
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons">
                              <a
                                href="/assets/img/preview/about-h-lg-10.jpg"
                                class="btn caption-zoom"
                                data-gal="prettyPhoto"
                                ><i class="fa fa-search"></i></a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="thumbnail no-border no-padding"
                    data-animation="fadeInDown"
                    data-animation-delay="200i"
                  >
                    <div class="media">
                      <img src="/assets/img/preview/team22-sm.jpg" alt="" />
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons">
                              <a
                                href="/assets/img/preview/team22-lg.jpg"
                                class="btn caption-zoom"
                                data-gal="prettyPhoto"
                                ><i class="fa fa-search"></i></a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1 col-xs-1"></div>
              </div>
              <!-- /Thumbnails -->
            </div>
          </div>
        </div>
      </div>
      <!-- /PAGE ABOUT -->
      <!-- PAGE DIVERSITY -->
      <section class="page-section" id="diversity">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="300"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="500"
              class="title-inner"
              >Diversity Matters <small>/ We welcome you</small></span
            >
          </h1>
          <div class="row">
            <div class="col-lg-12">
              <p data-animation="fadeInUp" data-animation-delay="300">
                In the Software Crafters Barcelona movement brogrammers do not
                prevail, and year after year the organizational committee
                becomes more diverse.
              </p>
              <p data-animation="fadeInUp" data-animation-delay="300">
                We claim the Software Crafter movement as inclusive, because we
                know that diverse teams develop better software. That's why we
                want to make a clear invitation to collectives often
                underrepresented at tech events.
              </p>
              <p data-animation="fadeInUp" data-animation-delay="300">
                Women, migrants, racialized people, functional diversity folks,
                Lgb_circleTQIA+, etc: not only have we reserved tickets for you,
                but we also have a designated budget to facilitate your
                participation in the event. If you have any questions or
                suggestions, just drop us an email at SoftwareCraftersBcn [at]
                gmail.com or DM us on Twitter @bcnswcraft. We'll welcome you
                with open arms!
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /PAGE DIVERSITY -->
      <!-- PAGE SPONSORS -->
      <section class="page-section color" id="sponsors">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="100"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-thumbs-up fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="100"
              class="title-inner">Sponsorship plans</span
            >
          </h1>
          <div class="row">
            <div class="col-lg-12">
              <p>
                We really appreciate this year sponsors for their support. Here
                you have the complete list:
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sponsor-section color">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="100"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-thumbs-up fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="100"
              class="title-inner">UNIXcorn Sponsors</span
            >
          </h1>
          <div
            class="sponsor-list"
            data-animation="fadeInUp"
            data-animation-delay="300"
          >
            <div>
              <a
                class="sponsor"
                href="https://www.getmanfred.com/"
                target="_blank"
              >
                <img
                  src="/assets/img/sponsors/manfred-color.svg"
                  alt="Manfred"
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="sponsor-section color">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="100"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-thumbs-up fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="100"
              class="title-inner">PegaSO Sponsors</span
            >
          </h1>
          <div
            class="sponsor-list"
            data-animation="fadeInUp"
            data-animation-delay="300"
          >
            <div>
              <a
                class="sponsor"
                href="https://www.audiense.com/"
                target="_blank"
              >
                <img src="/assets/img/sponsors/audiense.png" alt="Audiense" />
              </a>
            </div>
            <div>
              <a
                class="sponsor"
                href="https://www.voxelgroup.net/"
                target="_blank"
              >
                <img src="/assets/img/sponsors/voxel.png" alt="Voxel" />
              </a>
            </div>
            <div>
              <a
                class="sponsor"
                href="https://www.nextdigital.es/"
                target="_blank"
              >
                <img
                  src="/assets/img/sponsors/nextdigital.jpg"
                  alt="Next Digital"
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="sponsor-section color">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="100"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-thumbs-up fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="100"
              class="title-inner">PonIA Sponsors</span
            >
          </h1>
          <div
            class="sponsor-list"
            data-animation="fadeInUp"
            data-animation-delay="300"
          >
            <div>
              <a
                class="sponsor"
                href="https://www.rover.com/es/"
                target="_blank"
                ><img src="/assets/img/sponsors/rover_logo.png" alt="Rover" />
              </a>
            </div>
            <div>
              <a class="sponsor" href="https://www.codesai.com" target="_blank"
                ><img
                  src="/assets/img/sponsors/codesai_logo.svg"
                  alt="Codesai"
                />
              </a>
            </div>
            <div>
              <a class="sponsor" href="https://www.540deg.com" target="_blank"
                ><img src="/assets/img/sponsors/540.png" alt="540" />
              </a>
            </div>
            <div>
              <a
                class="sponsor"
                href="https://www.codurance.com"
                target="_blank"
                ><img
                  src="/assets/img/sponsors/codurance.png"
                  alt="Codurance"
                />
              </a>
            </div>
            <div>
              <a class="sponsor" href="https://www.basetis.com" target="_blank"
                ><img src="/assets/img/sponsors/basetis.svg" alt="Basetis" />
              </a>
            </div>
            <div>
              <a class="sponsor" href="https://www.holded.com" target="_blank"
                ><img src="/assets/img/sponsors/holded.svg" alt="Holded" />
              </a>
            </div>
            <div>
              <a class="sponsor" href="https://www.sequra.com" target="_blank"
                ><img src="/assets/img/sponsors/sequra.svg" alt="Sequra" />
              </a>
            </div>
            <div>
              <a
                class="sponsor"
                href="https://www.sirviendocodigo.com"
                target="_blank"
                ><img
                  src="/assets/img/sponsors/sirviendo_codigo.png"
                  alt="Sirviendo Código"
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- /PAGE SPONSORS -->
      <!-- PAGE CODE OF CONDUCT -->
      <section class="page-section" id="coc">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="300"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="500"
              class="title-inner"
              >Code of Conduct<small>/ Don't be a jerk!</small></span
            >
          </h1>
          <div class="row">
            <div class="col-lg-12">
              <article
                class="post-wrap"
                data-animation="fadeInUp"
                data-animation-delay="300"
              >
                <div class="post-body">
                  <p data-animation="fadeInUp" data-animation-delay="300">
                    All attendees, speakers, sponsors and volunteers at our
                    conference are required to agree with the following <a
                      href="coc.html">code of conduct</a
                    >. Organizers will enforce this code throughout the event.
                    We are expecting cooperation from all participants to help
                    ensuring a safe environment for everybody.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- /PAGE CODE OF CONDUCT -->
      <!-- LOCATION -->
      <section class="page-section" id="location">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="300"
              class="icon-inner"
              ><span class="fa-stack"
                ><i class="fa rhex fa-stack-2x"></i><i
                  class="fa fa-file-text-o fa-stack-1x"></i></span
              ></span
            >
            <span
              data-animation="fadeInRight"
              data-animation-delay="500"
              class="title-inner">Location</span
            >
          </h1>
          <div class="row post-row">
            <div class="col-md-12">
              <article
                class="post-wrap"
                data-animation="fadeInUp"
                data-animation-delay="300"
              >
                <div class="post-body">
                  <p>
                    There is an important number of
                    <a href="https://goo.gl/1mA2Zt">hotels</a> near our event. Furthermore,
                    for a cheap solution
                    <a href="https://goo.gl/7wQ8nb">airbnb</a> can provide you with
                    a relaxing place to sleep. And if you need free accomodation,
                    we recommend you to check <a
                      href="https://www.couchsurfing.com/places/europe/spain/barcelona"
                      >couchsurfing</a
                    >. It’s a welcoming platform and there are a lot of great
                    hosts in Barcelona, we know it from our own experience.
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="row post-row" id="location-map">
            <div class="col-md-12">
              <div class="post-header">
                <h2 class="post-title">BAU Barcelona</h2>
              </div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.914787150938!2d2.1930827766973966!3d41.3976568953572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a3170af16e65%3A0xe67be0eeaca3663f!2sBAU%2C%20Centro%20Universitario%20de%20Artes%20y%20Dise%C3%B1o%20de%20Barcelona!5e0!3m2!1ses!2ses!4v1685124443454!5m2!1ses!2ses"
                width="100%"
                height="300"
                style="border:0;"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- /LOCATION -->
      <!-- Organisation -->
      <section class="page-section" id="organisation">
        <div class="container">
          <h1 class="section-title">
            <span
              data-animation="flipInY"
              data-animation-delay="300"
              class="icon-inner"
            >
              <span class="fa-stack">
                <i class="fa rhex fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x"></i>
              </span>
            </span>
            <span
              data-animation="fadeInRight"
              data-animation-delay="500"
              class="title-inner"
            >
              Organisation <small>/ Many hands make light work</small></span
            >
          </h1>
          <div class="row">
            <div class="col-lg-12">
              <p data-animation="fadeInUp" data-animation-delay="300">
                This event would be impossible without the help (and time) of
                all its volunteers. We welcome everyone as we believe that a
                more diverse environment will create a better event for all the
                community.
                <br />
                <br />
                If you are interested in helping to organise this year's event or
                the next one, do not hesitate to contact us at <a
                  href="mailto:info@softwarecrafters.barcelona"
                  >info@softwarecrafters.barcelona</a
                >
              </p>
              <div
                id="organisers"
                class="row"
                data-animation="fadeInUp"
                data-animation-delay="300"
              >
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/alchemist_devel" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/faparicio.jpg"
                      alt="Fernando Aparicio"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Fernando Aparicio
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/_alexfdz" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/afernandez.jpg"
                      alt="Alex Fernandez"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Alex Fernandez
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/irodriguezsalgu" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/irodriguez.jpg"
                      alt="Iván Rodríguez"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Iván Rodríguez
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/jhrs21" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/jriera.jpg"
                      alt="José Riera"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      José Riera
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/mstefanutti" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/mstefanutti.jpg"
                      alt="Matías Steffanuti"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Matías Steffanuti
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//twitter.com/victormln" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/vmolina.jpg"
                      alt="Víctor Molina"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Víctor Molina
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//x.com/anyulled" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/arivas.png"
                      alt="Anyul Rivas"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Anyul Rivas
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//x.com/Gabo_bdcp" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/gbotana.jpg"
                      alt="Gabriel Botana"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Gabriel Botana
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//x.com/AlvarPR" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/alvar.jpeg"
                      alt="Àlvar"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">Àlvar</p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a
                    href="//www.linkedin.com/in/sandra-d-367b1785/"
                    target="_blank"
                  >
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/sandradm.jpeg"
                      alt="Sandra del Moral"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Sandra del Moral
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//x.com/sho_panda_" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/sgracia.jpg"
                      alt="Sergi Gracia"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Sergi Gracia
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="#">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/alikini.jpg"
                      alt="Alexandra Likini"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Alexandra Likini
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a
                    href="//www.linkedin.com/in/edgarcostilla/"
                    target="_blank"
                  >
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/ecostilla.jpg"
                      alt="Edgard Costilla"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Edgard Costilla
                    </p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a href="//github.com/bowserchris" target="_blank">
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/chris.jpg"
                      alt="Chris"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">Chris</p>
                  </a>
                </div>
                <div class="sc-organiser-avatar">
                  <a
                    href="//www.linkedin.com/in/ivan-prats-martinho/"
                    target="_blank"
                  >
                    <img
                      class="img-hex img-responsive sc-organiser-avatar-image"
                      src="/assets/img/organisers/iprats.jpg"
                      alt="Iván Prats"
                    />
                    <p class="img-responsive sc-organiser-avatar-name">
                      Iván Prats
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Organisation -->
    </section>
    <!-- /Content area -->
  </div>
</Layout>
